# *******************************************************************************
# *  Copyright: National ICT Australia,  2007, 2008, 2009			*
# *  Developed at the Networks and Pervasive Computing program			*
# *  Author(s): Athanassios Boulis, Dimosthenis Pediaditakis			*
# *  This file is distributed under the terms in the attached LICENSE file.	*
# *  If you do not find this file, copies can be found by writing to:		*
# *										*
# *      NICTA, Locked Bag 9013, Alexandria, NSW 1435, Australia		*
# *      Attention:  License Inquiry.						*
# *										*
# *******************************************************************************/

#
# Config file for Castalia on Linux and other Unix-like systems. 
# Not used on Windows/MSVC. 
#
# This gets included by every makefile.
#

ROOT=$(HOME)/Castalia-trunk/
CONFIGDIR = $(ROOT)/config
include $(CONFIGDIR)/omnetpp.config

CFLAGS+= -g

#INCLUDE_PATH+= ...additional include directories (for header files *.h)...
#LIBS+= ...additional libs and lib directories...

