# ***************************************************************************************
# *  Copyright: National ICT Australia,  2007, 2008					*
# *  Developed at the Networks and Pervasive Computing program				*
# *  Author(s): Athanassios Boulis, Dimosthenis Pediaditakis				*
# *  This file is distributed under the terms in the attached LICENSE file.		*
# *  If you do not find this file, copies can be found by writing to:			*
# *											*
# *      NICTA, Locked Bag 9013, Alexandria, NSW 1435, Australia			*
# *      Attention:  License Inquiry.							*
# *											*
# **************************************************************************************/



#
# Config file for the Castalia simulator framework on Linux and other Unix-like systems. 
# Not used on Windows/MSVC. 
#
# This gets included by every makefile.
# 
#
# !!! IMPORTANT !!!
# Please re-generate omnetpp.config before trying to build Castalia!
# The command is:  opp_makemake -f --genconfig omnetpp.config
#

# include omnetppconfig from this directory
ROOT=$(HOME)/Castalia-2.0
CONFIGDIR = $(ROOT)/config
include $(CONFIGDIR)/omnetpp.config

CFLAGS+= -g

#INCLUDE_PATH+= ...additional include directories (for header files *.h)...
#LIBS+= ...additional libs and lib directories...

