#
# Config file for the Castalia simulator framework on Linux and other Unix-like systems. 
# Not used on Windows/MSVC. 
#
# This gets included by every makefile.
# 
#
# !!! IMPORTANT !!!
# Please re-generate omnetppconfig before trying to build Castalia!
# The command is:  opp_makemake -f --genconfig omnetppconfig
#

# include omnetppconfig from this directory
ROOT=$(HOME)/Desktop/EclipseWorkspace/Castalia
CONFIGDIR = $(ROOT)/config
include $(CONFIGDIR)/omnetpp.config

#CFLAGS+= -g

#INCLUDE_PATH+= ...additional include directories (for header files *.h)...
#LIBS+= ...additional libs and lib directories...


