# ***************************************************************************************
# *  Copyright: National ICT Australia,  2007, 2008					*
# *  Developed at the Networks and Pervasive Computing program				*
# *  Author(s): Athanassios Boulis, Dimosthenis Pediaditakis				*
# *  This file is distributed under the terms in the attached LICENSE file.		*
# *  If you do not find this file, copies can be found by writing to:			*
# *											*
# *      NICTA, Locked Bag 9013, Alexandria, NSW 1435, Australia			*
# *      Attention:  License Inquiry.							*
# *											*
# **************************************************************************************/



#
# Makefile to create all other makefiles for the project.
#
# CAREFUL: This file has to remain portable across Unix make and Windows nmake!
#

# The vars ROOT, MAKEMAKE and EXT have to be specified externally, on the 'make' command line.
#ROOT=/home/User/dir_to_Castalia
#MAKEMAKE=opp_nmakemake
#EXT=.vc

CONFIGDIR = $(ROOT)/config
SRCDIR = $(ROOT)/src


#comment this out if you want the simulator to be built with TKENV
UI_CMDENV = -u Cmdenv

OMNETPP_CONFIGFILE = $(CONFIGDIR)/Castalia.config

# for compiled-in NED files, remove -N from OPTS, and switch to the longer version of ALL_MODEL_OPTS below
# with omnetpp-3.2 or newer, if you want to build windows dlls, add this to OPTS below: -PINET_API

OPTS=-f -P $(ROOT) -M release -r --deep -o CastaliaBin $(EXT) $(UI_CMDENV)


all: WSNetwork

WSNetwork:
    $(MAKEMAKE) $(OPTS) -X config -X Simulations -X Tests -X out -X bin

